<!DOCTYPE html>
<html lang="en">
<head>
    <title>First website in Express</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <% include includes/nav.ejs %>
    <% include includes/hero.ejs %>

    <div class="container">
        <% include includes/aside.ejs %>
        <main class="content">
            <h1>Datos del cliente</h1>
            <% if (client) { %>
                <p><strong>Title: </strong><%= client.title %></p>
                <p><strong>Artist: </strong><%= client.artist %></p>
                <p><strong>Country: </strong><%= client.country %></p>
                <p><strong>Company: </strong><%= client.company %></p>
                <p><strong>Price: </strong><%= client.price %></p>
                <p><strong>Year: </strong><%= client.year %></p>
            <% } else { %>
                <p><strong>Cliente no encontrado</strong></p>
            <% } %>
        </main>
    </div>
</body>
</html>